body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#homebutt {
    text-align: center;
    position: fixed;
    bottom: 3%;
    right: 50%;
    transform: translate(50%, 0);
    width: 20%;
    height: 5%;
    background:rgb(255, 255, 255) ;
    color:white;
    border: 1px solid black;
    font-size: 1.5vw;
    font-family: verdana;
    text-shadow: 1px 1px 1px #919191,
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

#homebutt:hover{
    background: lightblue;
    color: white;
    cursor: pointer;
}

#b {
    text-align: center;
    padding-top: 1%;
    position: fixed;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 0);
    width: 20%;
    padding-bottom: 1%;
    background:darkgreen ;
    color:white;
    border: 1px solid black;
    font-size: 1.5vw;
    font-family: verdana;
    text-shadow: 1px 1px 1px #919191,
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}



#b:hover{
    background: white;
    color: darkgreen;
    cursor: pointer;
}

a.plantbutt {
    text-align: center;
    padding-top: 1%;
    position: fixed;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 0);
    width: 20%;
    padding-bottom: 1%;
    background:darkgreen ;
    color:white;
    border: 1px solid black;
    font-size: 1.5vw;
    font-family: verdana;
    text-shadow: 1px 1px 1px #919191,
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

a.plantbutt:hover{
    background: white;
    color: darkgreen;
    cursor: pointer;
}
a.submit {
    text-align: center;
    padding-top: 1%;
    /* position: fixed; */
    margin-left: 22%;
    bottom: 10%;
    right: 50%;
    transform: translate(50%, 0);
    width: 20%;
    padding-bottom: 1%;
    background:darkgreen ;
    color:white;
    border: 1px solid black;
    font-size: 1.5vw;
    font-family: verdana;
    text-shadow: 1px 1px 1px #919191,
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

a.submit:hover{
    background: white;
    color: darkgreen;
    cursor: pointer;
}

.line-color{
    color: darkgreen;
    width: 50px;
    background: none;
}

.Donnor_list{
    list-style-type: none;
    background: none;
    position: fixed;
    color: white;
    top: 5%;
}

#cash {
    position: fixed;
    top: 10%;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 0.5px 0.5px 0.5px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    0.5px 0.5px 0.5px #919191,
    0.5px 0.5px 0.5px #919191,
    0.5px 0.5px 0.5px #919191,
    0.5px 0.5px 0.5px #919191,
    0.5px 0.5px 0.5px #919191,
    0.5px 0.5px 0.5px #919191,
    0.5px 0.5px 0.5px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
  
  
  #cash {
      position: fixed;
      top: 10%; 
      right: 50%;
      transform: translate(50%,-50%);
      text-transform: uppercase;
      font-family: verdana;
      font-size: 2em;
      font-weight: 700;
      color: #f5f5f5;
      text-shadow: 0.5px 0.5px 0.5px #919191,
          1px 2px 1px #919191,
          1px 3px 1px #919191,
          1px 4px 1px #919191,
          1px 5px 1px #919191,
          1px 6px 1px #919191,
          1px 7px 1px #919191,
          1px 8px 1px #919191,
          1px 9px 1px #919191,
          1px 10px 1px #919191,
      1px 18px 6px rgba(16,16,16,0.4),
      1px 22px 10px rgba(16,16,16,0.2),
      1px 25px 35px rgba(16,16,16,0.2),
      1px 30px 60px rgba(16,16,16,0.4);
    }

/**Checkout form**/

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,.4);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #FFF;
	text-align: center;
}

.box .inputBox {
	position: relative;
}
.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: transparent;
}
.box .inputBox select {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: transparent;
}
.box .inputBox option {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: rgba(0,0,0,.4);
}
.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	pointer-events: none;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad{
    0%{
        transform: rotate(0) translateY(-19px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
.box .inputBox input:focus ~ label, 
.box .inputBox input:valid ~ label {
	top: -19px;
	left:0;
	color: #FFF;
	font-size: 12px;
}
.box input[type='label'] {
	background: transparent;
	border: none;
    margin-left: 35%;
    text-align: center;
    font-size: large;
	outline: none;
	color: #FFF;
	background: #03f484;
	padding: 10px 20px;
	cursor: pointer;
	/* border-radius: 5px; */
	font-size: 14px;
}
.box input[type='submit'] {
	background: transparent;
	border: none;
    margin-left: 35%;
    text-align: center;
	outline: none;
	color: #FFF;
	background: darkgreen;
	/* padding: 10px 20px; */
	cursor: pointer;
	/* border-radius: 5px; */
	font-size: 14px;
}
a.box {
	background: transparent;
	border: none;
    /* margin-left: 35%; */
    text-align: center;
    font-size: large;
	outline: none;
	color: #FFF;
	background: darkgreen;
	padding: 10px 10px;
	cursor: pointer;
	/* border-radius: 5px; */
	font-size: 14px;
    margin-top: 45%;
    
}
a.box:hover{
    background-color: #0f9959c7;
}
.box input[type='submit']:hover {
	background-color: rgba(14, 243, 37, 0.7);
}
.box input[type='label']:hover {
	background-color: rgba(3, 244, 172, 0.7);
}
@media(max-width: 720px){
	.box {
		width: 80%;
	}
}

  
